.mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 2000;
}

.mobile-nav-item {
    color: #06053d;
    text-decoration: none;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-icon {
    font-size: 1.3rem;
    margin-bottom: 2px;
}

.mobile-nav-item:active,
.mobile-nav-item:focus {
    color: #1f2441;
}

.justify {
    text-align: justify;
}

.clip-shape {
    clip-path: polygon(50% 0%, 60% 10%, 80% 0%, 100% 20%, 100% 50%, 100% 80%, 75% 100%,
                50% 90%, 30% 100%, 0% 75%, 3% 50%, 0% 25%, 25% 0%)
}

.tech-blue {
    color: #06053d;
}

.small-img {
    /* width: 300px; */
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}